$background: #2d2d2d;
$text-color: #D5CFB5;
$shadow-color: #2c2c2c;
$button-color: #8e42e6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@mixin alignStuff($var1, $var2) {
  display: flex;
  justify-content: $var1;
  align-items: $var2;
}

.main-header {
  background: $background;
  height: 4rem;
  @include alignStuff(space-between, center);
  padding: 2rem;
  
  .nav-items {
    list-style: none;
  }

  .nav-link,
  .left-link {
    text-decoration: none;
    color: $text-color;
  }
}