* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.overlay {
  height: 100%;
  width: 100vw;
  background: #1f1e1eab;
  z-index: 50;
  display: none;
  position: fixed;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.game-over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10rem;
  width: 15rem;
  background-color: #0B243C;
  color: #D5CFB5;
  border-radius: 2rem;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.game-over .retry-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  width: 5rem;
  text-decoration: none;
  color: #0B243C;
  background-color: #D5CFB5;
  margin-top: 1rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.game-over .retry-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main {
  background-image: url("/assets/background-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.main .basket-1, .main .basket-2, .main .basket-3, .main .basket-4,
.main #pointer-img, .main #ready-ball__img {
  display: none;
}

.main .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.main .bottom .score-board,
.main .bottom .question-board,
.main .bottom .chance-board {
  background-color: #0B243C;
  color: #D5CFB5;
  padding: 1rem;
  margin: 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 2px 8px 4px #2c2c2c;
          box-shadow: 2px 2px 8px 4px #2c2c2c;
}

.main .bottom .score-chances .chance-board img {
  width: 2rem;
}

.main .bottom .score-board {
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 2rem;
}

.main .bottom .question-board {
  width: 20rem;
}

.main .bottom .question-board .question-txt {
  font-weight: 700;
}

.main .bottom .question-board .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}
/*# sourceMappingURL=styles.css.map */