* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main {
  background-image: url("/assets/background-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main .baskets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.main .baskets .basket-1, .main .baskets .basket-2, .main .baskets .basket-3, .main .baskets .basket-4 {
  width: 15rem;
}

.main .baskets .basket-1 {
  -webkit-transform: rotateY(40deg);
          transform: rotateY(40deg);
}

.main .baskets .basket-4 {
  -webkit-transform: rotateY(-40deg);
          transform: rotateY(-40deg);
}

.main .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.main .bottom .score-board,
.main .bottom .question-board,
.main .bottom .chance-board {
  background-color: #0B243C;
  color: #D5CFB5;
  padding: 1rem;
  margin: 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: 2px 2px 8px 4px #2c2c2c;
          box-shadow: 2px 2px 8px 4px #2c2c2c;
}

.main .bottom .score-chances .chance-board img {
  width: 2rem;
}

.main .bottom .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}

.main .bottom .middle .pointer img {
  margin-bottom: 3rem;
  -webkit-transform: translateX(3rem) rotateX(10deg);
          transform: translateX(3rem) rotateX(10deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-animation: movePointer 3s infinite alternate;
          animation: movePointer 3s infinite alternate;
  height: 10rem;
}

.main .bottom .middle .pointer .paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.main .bottom .middle .ready-ball img {
  margin-bottom: 1rem;
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
  width: 3rem;
  height: auto;
}

.main .bottom .score-board {
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 2rem;
}

.main .bottom .question-board {
  width: 20rem;
}

.main .bottom .question-board .question-txt {
  font-weight: 700;
}

.main .bottom .question-board .options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@-webkit-keyframes movePointer {
  0% {
    -webkit-transform: translateX(3rem) rotateZ(-60deg) rotateX(10deg);
            transform: translateX(3rem) rotateZ(-60deg) rotateX(10deg);
  }
  100% {
    -webkit-transform: translateX(3rem) rotateZ(60deg) rotateX(10deg);
            transform: translateX(3rem) rotateZ(60deg) rotateX(10deg);
  }
}

@keyframes movePointer {
  0% {
    -webkit-transform: translateX(3rem) rotateZ(-60deg) rotateX(10deg);
            transform: translateX(3rem) rotateZ(-60deg) rotateX(10deg);
  }
  100% {
    -webkit-transform: translateX(3rem) rotateZ(60deg) rotateX(10deg);
            transform: translateX(3rem) rotateZ(60deg) rotateX(10deg);
  }
}

@-webkit-keyframes throwBallToA {
  25% {
    -webkit-transform: translate(-75vh, -75vh) rotate(1360deg);
            transform: translate(-75vh, -75vh) rotate(1360deg);
  }
  50% {
    -webkit-transform: translate(-75vh, -60vh) rotate(1360deg);
            transform: translate(-75vh, -60vh) rotate(1360deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-75vh, 0vh);
            transform: translate(-75vh, 0vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 1;
  }
}

@keyframes throwBallToA {
  25% {
    -webkit-transform: translate(-75vh, -75vh) rotate(1360deg);
            transform: translate(-75vh, -75vh) rotate(1360deg);
  }
  50% {
    -webkit-transform: translate(-75vh, -60vh) rotate(1360deg);
            transform: translate(-75vh, -60vh) rotate(1360deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-75vh, 0vh);
            transform: translate(-75vh, 0vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 1;
  }
}

@-webkit-keyframes throwBallToB {
  25% {
    -webkit-transform: translate(-22vh, -75vh) rotate(1360deg);
            transform: translate(-22vh, -75vh) rotate(1360deg);
  }
  50% {
    -webkit-transform: translate(-22vh, -60vh) rotate(1360deg);
            transform: translate(-22vh, -60vh) rotate(1360deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-75vh, 0vh);
            transform: translate(-75vh, 0vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 1;
  }
}

@keyframes throwBallToB {
  25% {
    -webkit-transform: translate(-22vh, -75vh) rotate(1360deg);
            transform: translate(-22vh, -75vh) rotate(1360deg);
  }
  50% {
    -webkit-transform: translate(-22vh, -60vh) rotate(1360deg);
            transform: translate(-22vh, -60vh) rotate(1360deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-75vh, 0vh);
            transform: translate(-75vh, 0vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 1;
  }
}

@-webkit-keyframes throwBallToC {
  25% {
    -webkit-transform: translate(35vh, -75vh) rotate(1360deg);
            transform: translate(35vh, -75vh) rotate(1360deg);
  }
  50% {
    -webkit-transform: translate(35vh, -60vh) rotate(1360deg);
            transform: translate(35vh, -60vh) rotate(1360deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-75vh, 0vh);
            transform: translate(-75vh, 0vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 1;
  }
}

@keyframes throwBallToC {
  25% {
    -webkit-transform: translate(35vh, -75vh) rotate(1360deg);
            transform: translate(35vh, -75vh) rotate(1360deg);
  }
  50% {
    -webkit-transform: translate(35vh, -60vh) rotate(1360deg);
            transform: translate(35vh, -60vh) rotate(1360deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-75vh, 0vh);
            transform: translate(-75vh, 0vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 1;
  }
}

@-webkit-keyframes throwBallToD {
  25% {
    -webkit-transform: translate(90vh, -75vh) rotate(1360deg);
            transform: translate(90vh, -75vh) rotate(1360deg);
  }
  50% {
    -webkit-transform: translate(90vh, -60vh) rotate(1360deg);
            transform: translate(90vh, -60vh) rotate(1360deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-75vh, 0vh);
            transform: translate(-75vh, 0vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 1;
  }
}

@keyframes throwBallToD {
  25% {
    -webkit-transform: translate(90vh, -75vh) rotate(1360deg);
            transform: translate(90vh, -75vh) rotate(1360deg);
  }
  50% {
    -webkit-transform: translate(90vh, -60vh) rotate(1360deg);
            transform: translate(90vh, -60vh) rotate(1360deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate(-75vh, 0vh);
            transform: translate(-75vh, 0vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */